@page "/allsessions"
@using PensionGame.Web.Services
@using PensionGame.Api.Domain.Resources.Session
@using PensionGame.Web.Components

@inject SessionDataServices SessionService

@inherits PensionGame.Web.Infrastructure.ReloadableComponent

<h1>Game Sessions</h1>

<LoadingOverlay IsLoading="@IsLoading" />

@if (Sessions != null)
{
    <table class="table table-light">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Started</th>
                <th>Current Age</th>
                @if (!IsSmallScreen)
                {
                    <th>Status</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var (session, currentYear, isFinished) in Sessions.Items)
            {
                <tr>
                    <td class="data-table-name">
                        <a href="/@(isFinished ? "finishedgame" : "game")/@session.SessionId.Id">
                            @(!string.IsNullOrEmpty(session.Name) ? session.Name : "Anonymous")
                        </a>
                    </td>
                    <td style="text-align: center;">
                        @session.DateStarted.ToString("yyyy-MM-dd HH:mm:ss")
                    </td>
                    <td style="text-align: center;">
                        @currentYear
                    </td>
                    @if (!IsSmallScreen)
                    {
                        <td style="text-align: center;">
                            @(isFinished ? "Finished" : "In Progress")
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <Pagination TItem="SessionInfo"
                Items="@Sessions"
                OnPageClicked="UpdatePage"
                OnPageSizeChanged="UpdatePageSize" />
}