@page "/finishedgame/{sessionId}"
@using PensionGame.Web.Services
@using PensionGame.Web.Components

@inject GameDataServices GameService
@inject SessionDataServices SessionService  
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<h1>Finished Game</h1>
<h2>@SessionName</h2>

@if (GameData != null && PortfolioValue != null)
{
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-xl-6 col-xxl-4 d-flex">
                <div class="w-100">
                    <AgeCard Age="@GameData.Year" />
                    <Card>
                        <div class="row">
                            <div class="col-md-6 text-md-start">
                                <h5 class="card-title mb-2">Years of pension covered <Tooltip Text="@PensionYearsCovered"><InfoIcon /></Tooltip> </h5>
                            </div>

                            <div class="col-md-6 text-md-end">
                                <h1 class="mt-1 mb-2">@(GameData.ClientData.ClientHoldings.Value / GameData.ClientData.ExpenseData.LifeExpenses)</h1>
                            </div>
                        </div>
                    </Card>
                    @if (PortfolioReturnRate != null)
                    {
                    <Card>
                        <div class="row">
                            <div class="col-md-6 text-md-start">
                                <h5 class="card-title mb-2">Yearly return rate <Tooltip Text="@AverageYearlyReturnRate"><InfoIcon /></Tooltip> </h5>
                            </div>

                            <div class="col-md-6 text-md-end">
                                <h1 class="mt-1 mb-2"><SignedDouble IsPercentage="true" Value="@(PortfolioReturnRate.ReturnRate - 1)" /> </h1>
                            </div>
                        </div>
                    </Card>
                    }
                </div>
            </div>
            <div class="col-xl-6 col-xxl-8 d-flex">
                <div class="w-100">
                    <Card>
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="card-title mb-2">Total saved</h5>
                            </div>

                            <div class="col-md-6 text-md-end">
                                <h1 class="mt-1 mb-2"><SignedInt Value="@PortfolioValue.Value" /></h1>
                            </div>
                        </div>
                        <div class="text-md-end">
                            <p>
                                Stock value: <SignedInt Value="@GameData.ClientData.ClientHoldings.Stocks.Value" /> <br />
                                Bond value: <SignedInt Value="@GameData.ClientData.ClientHoldings.Bonds.Value" /> <br />
                                Savings account value: <SignedInt Value="@GameData.ClientData.ClientHoldings.SavingsAccount.Amount" /> <br />
                                Loans: <SignedInt Value="@(-GameData.ClientData.ClientHoldings.Loans.TotalLoanValue)" /> <br />
                                Bond interest: <SignedInt Value="@GameData.ClientData.IncomeData.BondInterest" /> <br />
                                Savings account interest: <SignedInt Value="@GameData.ClientData.IncomeData.SavingsAccountInterest" /> <br />
                                Loan interest: <SignedInt Value="@(-GameData.ClientData.ExpenseData.LoanExpenses)" />
                            </p>
                        </div>
                    </Card>
                </div>
            </div>
        </div>

        <Card>
            <h5 class=" card-title mb-2">
                Holdings in time
            </h5>
            <ClientHoldingsChart ClientHoldingsHistory="@ClientHoldingsHistory" />
        </Card>
    </div>
}

<button class="btn btn-primary" @onclick="RedirectToNewSession">Play again!</button>
