@page "/game/{sessionId}"
@using PensionGame.Web.Services
@using PensionGame.Web.Data.Entities

@inject GameDataServices GameService


<h1>Pension game</h1>

@if (success.HasValue)
{
    if (success.Value)
    {
        <p class="alert-success">
            Step executed successfuly!
        </p>
    }
    else
    {
        <p class="alert-danger">
            Step failed!
        </p>
    }
}
@if (!validationOkay)
{
    <p class="alert-danger">
        Incorrect values!
    </p>
}
<EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @if (gameData != null)
    {
        <p>
            <label>
                Year:
            </label>
            <div>
                @gameData.Year
            </div>
        </p>
        <p>
            <label>
                Income:
            </label>
            <div>
                @gameData.ClientData.IncomeData.TotalIncome
            </div>
        </p>
        <p>
            <label>
                Expenses:
            </label>
            <div>
                @gameData.ClientData.ExpenseData.TotalExpenses
            </div>
        </p>
        <p>
            <label>
                Total Cash-flow:
            </label>
            <div>
                @TotalCashFlow
            </div>
        </p>
    }
    <h3>How would you like to distribute your investments?</h3>
    <p>
        <label>
            Stocks:
        </label>
        <div>
            <InputNumber @bind-Value="gameUpdate.StockValue" />
        </div>
    </p>
    <p>
        <label>
            Bonds:
        </label>
        <div>
            <InputNumber @bind-Value="gameUpdate.BondValue" />
        </div>
    </p>
    <p>
        <label>
            Savings account:
        </label>
        <div>
            <InputNumber @bind-Value="gameUpdate.SavingsAccountValue" />
        </div>
    </p>

    <h3>Would you like to take a loan?</h3>
    <p>
        <label>
            Loan:
        </label>
        <div>
            <InputNumber @bind-Value="gameUpdate.LoanValue" />
        </div>
    </p>
    @if (gameData != null)
    {
        <p>
            <label>
                Remaining Cash-flow:
            </label>
            <div>
                @RemainingCashFlow
            </div>
        </p>
    }
    <button type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    public string? sessionId { get; set; }

    GameUpdate gameUpdate = new GameUpdate();

    GameData? gameData;

    SessionId? currentSession;

    int TotalCashFlow => gameData?.ClientData.DisposableIncome + gameUpdate.LoanValue ?? 0;
    int RemainingCashFlow => TotalCashFlow - (gameUpdate.BondValue + gameUpdate.StockValue + gameUpdate.SavingsAccountValue);

    bool? success = null;
    bool validationOkay = true;

    private EditContext editContext = new EditContext(new GameUpdate());

    protected override async void OnInitialized()
    {
        editContext = new EditContext(gameUpdate);

        if (string.IsNullOrEmpty(sessionId))
            return; //TODO vypisat nejaku hlasku

        if (!Guid.TryParse(sessionId, out var sessionGuid))
            return; //TODO vypisat nejaku inu hlasku

        currentSession = new SessionId() { Id = sessionGuid };

        gameData = await GameService.GameDataGet(currentSession);

        editContext.OnFieldChanged += editContext_OnFieldChanged;

        StateHasChanged();
    }

    protected async void editContext_OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        if (currentSession != null)
        {
            validationOkay = await GameService.GameUpdateValidate(currentSession, gameUpdate);

            StateHasChanged();
        }
    }

    private async Task HandleValidSubmit()
    {
        if (currentSession != null)
        {
            success = await GameService.GameUpdateSubmit(currentSession, gameUpdate);

            gameData = await GameService.GameDataGet(currentSession);
        }
    }
}
