@page "/game/{sessionId}"
@using PensionGame.Web.Services

@inject GameDataServices GameService


<h1>Pension game</h1>

@if (success.HasValue)
{
    if (success.Value)
    {
        <p class="alert-success">
            Step executed successfuly!
        </p>
    }
    else
    {
        <p class="alert-danger">
            Step failed!
        </p>
    }
}
@if (!validationOkay)
{
    <p class="alert-danger">
        Incorrect values!
    </p>
}
<EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />


    @if (gameData != null)
    {
        <div class="game-state-info">
            <label>
                Year:
            </label>
            <h4>
                @gameData.Year
            </h4>
        </div>
        <div class="game-state-info">
            <label>
                Income:
            </label>
            <h4>
                @gameData.ClientData.IncomeData.TotalIncome
            </h4>
        </div>
        <div class="game-state-info">
            <label>
                Expenses:
            </label>
            <h4>
                @gameData.ClientData.ExpenseData.TotalExpenses
            </h4>
        </div>
        <div class="game-state-info">
            <label>
                Total Cash-flow:
            </label>
            <h4>
                @TotalCashFlow
            </h4>
        </div>
    }

        <h3>Portfolio</h3>

@*        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Current Holdings</th>
                    <th>Investment Selection</th>
                    <th>Rates</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Stocks</td>
                    <td>10,000 (2000 units per 5)</td>
                    <td>12,000</td>
                </tr>
                <tr>
                    <td>Bonds</td>
                    <td>3 bonds</td>
                    <td>3,000</td>
                </tr>
                <tr>
                    <td>Savings Account</td>
                    <td>8,000</td>
                    <td>5,500</td>
                </tr>
                <tr>
                    <td>Loans</td>
                    <td>7,000 (3 loans with 6 %, 5 % and 4.5 % interest rates)</td>
                    <td>3,000</td>
                </tr>
            </tbody>
        </table>*@

    <p>
        <div class="d-inline-block">
            <div>
                Stocks:
            </div>
            <div>
                <InputNumber @bind-Value="investmentSelection.StockValue" />
            </div>
        </div>
        <div class="d-inline-block" style="margin-left: 10px">
            <div>
                Last year's return rate:
            </div>
            <div>
                <strong>@gameData?.MarketData.ReturnData.StockRate.ToString("P1")</strong>
            </div>
        </div>
    </p>
    <p>
        <div class="d-inline-block">
            <div>
                Bonds:
            </div>
            <div>
                <InputNumber @bind-Value="investmentSelection.BondValue" />
            </div>
        </div>
        <div class="d-inline-block" style="margin-left: 10px">
            <div>
                Return rate:
            </div>
            <div>
                <strong>@gameData?.MarketData.ReturnData.BondRate.ToString("P1")</strong>
            </div>
        </div>
    </p>
    <p>
        <div class="d-inline-block">
            <div>
                Savings account:
            </div>
            <div>
                <InputNumber @bind-Value="investmentSelection.SavingsAccountValue" />
            </div>
        </div>
        <div class="d-inline-block" style="margin-left: 10px">
            <div>
                Interest rate:
            </div>
            <div>
                <strong>@gameData?.MarketData.ReturnData.SavingsAccountRate.ToString("P1")</strong>
            </div>
        </div>
    </p>

    <h3>Would you like to take a loan?</h3>
    <p>
        <div class="d-inline-block">
            <div>
                Loan:
            </div>
            <div>
                <InputNumber @bind-Value="investmentSelection.LoanValue" />
            </div>
        </div>
        <div class="d-inline-block" style="margin-left: 10px">
            <div>
                Loan interest rate:
            </div>
            <div>
                <strong>@gameData?.MarketData.ReturnData.LoanRate.ToString("P1")</strong>
            </div>
        </div>
    </p>
    @if (gameData != null)
    {
        <p>
            <label>
                Remaining Cash-flow:
            </label>
            <div>
                @RemainingCashFlow
            </div>
        </p>
    }
    <button type="submit">Submit</button>
</EditForm>
