@page "/game/{sessionId}"
@using PensionGame.Web.Services
@using PensionGame.Web.Components
@using PensionGame.Web.Enums
@using Blazorise

@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject GameDataServices GameService
@inject SessionDataServices SessionService 

<h1>@SessionName</h1>

<ValidationResult ResultModel="@ValidationResult" />

<EditForm EditContext="@EditContext">
    <DataAnnotationsValidator />
    <Blazorise.ValidationSummary />

    @if (GameData != null && GameHistory != null)
    {
        @if (!GameData.IsInitial)
        {
            <Modal @ref="ModalWindow">
                <ModalContent Centered="true">
                    <ModalHeader>
                        <ModalTitle>Age: @GameData.Year</ModalTitle>
                        <CloseButton />
                    </ModalHeader>
                    <ModalBody>
                        @foreach (var (title, displayMessage, type) in GameData.Events)
                        {
                            <PensionGame.Web.Components.Alert Type="@(type == Api.Domain.Resources.Events.EventType.Info
                                            ? AlertType.Info
                                            : (type == Api.Domain.Resources.Events.EventType.Negative
                                                ? AlertType.Danger
                                                : AlertType.Success))"
                                                              Title="@title"
                                                              DisplayMessage="@displayMessage" />
                        }

                        <PensionGame.Web.Components.Card>
                            <SimpleLineChart Title="Stock Performance"
                                             Label="Stock Price"
                                             XLabel="Age"
                                             YLabel="Stock Price"
                                             DataLabels="@GameHistory.Keys.Select(key => key.ToString()).ToList()"
                                             Data="@GameHistory.Values.Select(gameState => (decimal)gameState.ClientData.ClientHoldings.Stocks.UnitPrice.Price).ToList()" />
                        </PensionGame.Web.Components.Card>

                        <PensionGame.Web.Components.Card>
                            <SimplePieChart Title="Current Portfolio"
                                            DataLabels="@(new [] { "Stocks", "Bonds", "Savings account" })"
                                            Data="@(new decimal[]
                                                    {
                                                        GameData.ClientData.ClientHoldings.Stocks.Value,
                                                        GameData.ClientData.ClientHoldings.Bonds.Value,
                                                        GameData.ClientData.ClientHoldings.SavingsAccount.Amount
                                                    })" />
                        </PensionGame.Web.Components.Card>
                    </ModalBody>
                    <ModalFooter>
                        <Button Color="Color.Primary" Clicked="@HideModal">OK</Button>
                    </ModalFooter>
                </ModalContent>
            </Modal>
        }

        <IncomeExpensesCard ClientData="@GameData.ClientData" DisposableIncome="@DisposableIncome"></IncomeExpensesCard>

        @if (!GameData.IsInitial)
        {
            <div class="row text-sm-end">
                <div class="col-sm-3" style="clear: both">
                    <AgeCard Age="@GameData.Year" />
                </div>
                <div class="col-sm-3" style="clear: both">
                    <PensionGame.Web.Components.Card>
                        <div class="row">
                            <div class="col-md-6 text-md-start">
                                <h5 class="card-title mb-2">Events</h5>
                            </div>
                        </div>

                        <button class="btn btn-secondary" @onclick="ShowModal">More info</button>
                    </PensionGame.Web.Components.Card>
                </div>
                <div class="col-sm-6" style="clear: both">
                    <AvailableToInvestCard AvailableToInvest="@AvailableToInvest" />
                </div>
            </div>
        }
        else
        {
            <div class="row text-sm-end">
                <div class="col-sm-3" style="clear: both">
                    <AgeCard Age="@GameData.Year" />
                </div>
                <div class="col-sm-9" style="clear: both">
                    <AvailableToInvestCard AvailableToInvest="@AvailableToInvest" />
                </div>
            </div>
        }
    }

    <h3>Portfolio</h3>

    <div class="row text-md-end">
        <div class="col-md-6" style="clear: both">
            <StockCard StockData="@ClientHoldings?.Stocks" OnStockSelectionChanged="StockSelectionChanged" />
        </div>
        <div class="col-md-6" style="clear: both">
            <SavingsAccountCard SavingsAccountData="@ClientHoldings?.SavingsAccount" SavingsAccountRate="@(GameData?.MarketData.ReturnData.SavingsAccountRate ?? 0)" OnSavingsAccountSelectionChanged="SavingsAccountSelectionChanged" />
        </div>
    </div>
    <div class="row text-md-end">
        <div class="col-md-6" style="clear: both">
            <BondCard BondData="@ClientHoldings?.Bonds" BondRate="@(GameData?.MarketData.ReturnData.BondRate ?? 0)" OnBondSelectionChanged="BondSelectionChanged" />
        </div>
        <div class="col-md-6" style="clear: both">
            <LoanCard LoanData="@ClientHoldings?.Loans" LoanRate="@(GameData?.MarketData.ReturnData.LoanRate ?? 0)" OnLoanValueChange="LoanSelectionChanged" />
        </div>
    </div>

    <SubmitButton IsDisabled="@(!IsValid)" OnSubmit="@HandleValidSubmit" />
</EditForm>
