@page "/game/{sessionId}"
@using PensionGame.Web.Services
@using PensionGame.Api.Domain.Resources.GameData
@using PensionGame.Api.Domain.Resources.Session
@using PensionGame.Api.Domain.Resources.ClientData
@using PensionGame.Web.Data

@inject GameDataServices GameService


<h1>Pension game</h1>

@if (success.HasValue)
{
    if (success.Value)
    {
        <p class="alert-success">
            Step executed successfuly!
        </p>
    }
    else
    {
        <p class="alert-danger">
            Step failed!
        </p>
    }
}
@if (!validationOkay)
{
    <p class="alert-danger">
        Incorrect values!
    </p>
}
<EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @if (gameData != null)
    {
        <p>
            <label>
                Year:
            </label>
            <h4>
                @gameData.Year
            </h4>
        </p>
        <p>
            <label>
                Income:
            </label>
            <h4>
                @gameData.ClientData.IncomeData.TotalIncome
            </h4>
        </p>
        <p>
            <label>
                Expenses:
            </label>
            <h4>
                @gameData.ClientData.ExpenseData.TotalExpenses
            </h4>
        </p>
        <p>
            <label>
                Total Cash-flow:
            </label>
            <h4>
                @TotalCashFlow
            </h4>
        </p>
    }

    <h3>How would you like to distribute your investments?</h3>
    <p>
        <div class="d-inline-block">
            <div>
                Stocks:
            </div>
            <div>
                <InputNumber @bind-Value="investmentSelection.StockValue" />
            </div>
        </div>
        <div class="d-inline-block" style="margin-left: 10px">
            <div>
                Last year's return rate:
            </div>
            <div>
                <strong>@gameData?.MarketData.ReturnData.StockRate.ToString("P2")</strong>
            </div>
        </div>
    </p>
    <p>
        <div class="d-inline-block">
            <div>
                Bonds:
            </div>
            <div>
                <InputNumber @bind-Value="investmentSelection.BondValue" />
            </div>
        </div>
        <div class="d-inline-block" style="margin-left: 10px">
            <div>
                Return rate:
            </div>
            <div>
                <strong>@gameData?.MarketData.ReturnData.BondRate.ToString("P2")</strong>
            </div>
        </div>
    </p>
    <p>
        <div class="d-inline-block">
            <div>
                Savings account:
            </div>
            <div>
                <InputNumber @bind-Value="investmentSelection.SavingsAccountValue" />
            </div>
        </div>
        <div class="d-inline-block" style="margin-left: 10px">
            <div>
                Interest rate:
            </div>
            <div>
                <strong>@gameData?.MarketData.ReturnData.SavingsAccountRate.ToString("P2")</strong>
            </div>
        </div>
    </p>

    <h3>Would you like to take a loan?</h3>
    <p>
        <div class="d-inline-block">
            <div>
                Loan:
            </div>
            <div>
                <InputNumber @bind-Value="investmentSelection.LoanValue" />
            </div>
        </div>
        <div class="d-inline-block" style="margin-left: 10px">
            <div>
                Loan interest rate:
            </div>
            <div>
                <strong>@gameData?.MarketData.ReturnData.LoanRate.ToString("P2")</strong>
            </div>
        </div>
    </p>
    @if (gameData != null)
    {
        <p>
            <label>
                Remaining Cash-flow:
            </label>
            <div>
                @RemainingCashFlow
            </div>
        </p>
    }
    <button type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    public string? sessionId { get; set; }

    InvestmentSelectionModel investmentSelection = new InvestmentSelectionModel(new InvestmentSelection());

    GameState? gameData;

    SessionId? currentSessionId;

    int TotalCashFlow => gameData?.ClientData.DisposableIncome + investmentSelection.LoanValue ?? 0;
    int RemainingCashFlow => TotalCashFlow - (investmentSelection.BondValue + investmentSelection.StockValue + investmentSelection.SavingsAccountValue);

    bool? success = null;
    bool validationOkay = true;

    private EditContext editContext = new EditContext(new InvestmentSelection());

    protected override async void OnInitialized()
    {
        editContext = new EditContext(investmentSelection);

        if (string.IsNullOrEmpty(sessionId))
            return; //TODO vypisat nejaku hlasku

        if (!Guid.TryParse(sessionId, out var sessionGuid))
            return; //TODO vypisat nejaku inu hlasku

        currentSessionId = new SessionId(sessionGuid);

        gameData = await GameService.GameStateGet(currentSessionId);

        editContext.OnFieldChanged += editContext_OnFieldChanged;

        StateHasChanged();
    }

    protected async void editContext_OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        if (currentSessionId != null)
        {
            validationOkay = await GameService.InvestmentSelectionValidate(currentSessionId, investmentSelection);

            StateHasChanged();
        }
    }

    private async Task HandleValidSubmit()
    {
        if (currentSessionId != null)
        {
            success = await GameService.InvestmentSelectionSubmit(currentSessionId, investmentSelection);

            gameData = await GameService.GameStateGet(currentSessionId);
        }
    }
}
