@using PensionGame.Common.Extensions

@if (BondData != null)
{
    <Card>
        <div class="row">
            <div class="col-md-6 text-md-start">
                <h3 class="card-title mb-4">Bonds <Tooltip Text="@BondInfo"><InfoIcon /></Tooltip></h3>
            </div>
            <div class="col-md-6 text-md-end">
                <h2>
                    <Tooltip Text="Bond value held"><SignedInt DisplayZero="true" Value="@BondValue" /></Tooltip>
                </h2>
            </div>
        </div>
        <div class="row text-md-end">
            <InputWithButton InputCaption="Order value" ButtonCaption="Buy" @bind-value="@OrderValue" OnInputChanged="HandleOrderValueChange" />
        </div>
        <InterestRateLine InterestRate="@BondRate" />
        <div class="row text-md-end">
            <h2>
                <Tooltip Text="Bond value after order">
                    <SignedInt DisplayZero="@(BondValue > 0)" IsHidden="@(OrderValue == null || OrderValue == 0)" Value="@AfterOrderValue" />
                </Tooltip>
            </h2>
        </div>
        @if (BondData.Any())
        {
            <ExpandableSection>
                <ul>
                    @foreach (var (bond, index) in BondData.WithIndex(1))
                    {
                        <li>
                            Bond #@index: @bond.YearlyPayment yearly (expires @(bond.YearsToExpiration == 1 ? "this year" : $"in {bond.YearsToExpiration} years"))
                        </li>
                    }
                </ul>
            </ExpandableSection>
        }
    </Card>
}