@using PensionGame.Common.Extensions

@if (LoanData != null)
{
    <Card>
        <div class="row">
            <div class="col-md-6 text-md-start">
                <h3 class="card-title mb-4">Loans <Tooltip Text="@LoanInfo"><InfoIcon /></Tooltip></h3>
            </div>
            <div class="col-md-6 text-md-end">
                <h2>
                    <Tooltip Text="Outstanding debt"><SignedInt DisplayZero="true" Value="@(-LoanValue)" /></Tooltip>
                </h2>
            </div>
        </div>
        <div class="row text-md-end">
            <InputWithButtons InputCaption="Transaction value" PositiveCaption="Borrow" NegativeCaption="Repay" IsPositiveOnly="@(LoanValue == 0)" @bind-value="@LoanActionValue" OnInputChanged="HandleLoanActionValueChange" OnPositionChanged="HandleBorrowRepayButton" />
        </div>
        <InterestRateLine InterestRate="@LoanRate" />
        <div class="row text-md-end">
            <h2>
                <Tooltip Text="Outstanding debt after action">
                    <SignedInt DisplayZero="@(LoanValue > 0)" IsHidden="@(LoanActionValue == null || LoanActionValue == 0)" Value="@(-AfterActionValue ?? 0)" />
                </Tooltip>
            </h2>
        </div>
        @if (LoanData.Any())
        {
            <ExpandableSection>
                <ul>
                    @foreach (var (loan, index) in LoanData.WithIndex(1))
                    {
                        <li>
                            Loan #@index: @loan.Amount borrowed at @loan.InterestRate.ToString("P1")
                        </li>
                    }
                </ul>
            </ExpandableSection>
        }
    </Card>
}