@using PensionGame.Common.Extensions

@if (SavingsAccountData != null)
{
    <Card>
        <div class="row">
            <div class="col-md-6 text-md-start">
                <h3 class="card-title mb-4">Savings account <Tooltip Text="@SavingsAccountInfo"><InfoIcon /></Tooltip></h3>
            </div>
            <div class="col-md-6 text-md-end">
                <h2>
                    <Tooltip Text="Savings account value held"><SignedInt DisplayZero="false" Value="@SavingsAccountValue" /></Tooltip>
                </h2>
            </div>
        </div>
        <div class="row text-md-end">
            <InputWithButtons InputCaption="Transaction value" PositiveCaption="Deposit" NegativeCaption="Withdraw" @bind-value="@TransactionValue" OnInputChanged="HandleTransactionValueChange" OnPositionChanged="HandlePositionChange" />
        </div>
        <InterestRateLine InterestRate="@SavingsAccountRate" />
        <div class="row text-md-end">
            <h2>
                <Tooltip Text="Savings account value after transaction">
                    <SignedInt DisplayZero="@(SavingsAccountValue > 0)" IsHidden="@(TransactionValue == null || TransactionValue == 0)" Value="@(AfterTransactionValue ?? 0)" />
                </Tooltip>
            </h2>
        </div>
    </Card>
}