@using PensionGame.Common.Extensions

@if (SavingsAccountData != null)
{
    <HoldingCard Title="Savings account" InfoTooltip="@SavingsAccountInfo" Value="@SavingsAccountValue" ValueTooltip="Savings account value held">
        <div class="row text-md-end">
            <InputWithButtons InputCaption="Transaction value" PositiveCaption="Deposit" NegativeCaption="Withdraw" IsPositiveOnly="@(SavingsAccountValue == 0)" @bind-value="@TransactionValue" OnInputChanged="HandleTransactionValueChange" OnPositionChanged="HandlePositionChange" />
        </div>
        <InterestRateLine InterestRate="@SavingsAccountRate" />
        <div class="row text-md-end">
            <h2>
                <Tooltip Text="Savings account value after transaction">
                    <SignedInt DisplayZero="@(SavingsAccountValue > 0)" IsHidden="@(TransactionValue == null || TransactionValue == 0)" Value="@(AfterTransactionValue ?? 0)" />
                </Tooltip>
            </h2>
        </div>
    </HoldingCard>
}