@if (StockData != null)
{
    <Card>
        <div class="row">
            <div class="col-md-4 text-md-start">
                <h3 class="card-title mb-4">Stocks <Tooltip Text="@StockInfo"><InfoIcon /></Tooltip></h3>
            </div>
            <div class="col-md-2 text-md-end" style="clear: both">
                <Tooltip Text="Units held">@StockData.UnitsHeld</Tooltip>  * <Tooltip Text="Stock price">@StockData.UnitPrice.Price</Tooltip>
            </div>
            <div class="col-md-6 text-md-end">
                <h2>
                    = <Tooltip Text="Stock value held"><SignedInt Value="@StockValue" /></Tooltip>
                </h2>
            </div>
        </div>
        <div class="row text-md-end">
            <div class="col-md-6" style="clear: both">
                <input type="number" placeholder="Order Quantity" @bind="@OrderQuantity" min="0" step="0.01" @oninput="HandleQuantityChange" /> * <Tooltip Text="Stock price">@StockData.UnitPrice.Price</Tooltip> =
            </div>
            <div class="col-md-6" style="clear: both">
                <div class="input-group text-md-end mb-3">
                    <div class="input-group-prepend">
                        <BuySellButton OnPositionChanged="HandleBuySellButton" />
                    </div>
                    <input type="number" placeholder="Order Value" @bind="@OrderValue" min="0" step="1" @oninput="HandleValueChange">
                </div>
            </div>
        </div>
        <div class="row text-md-end">
            <h2>
                <Tooltip Text="Stock value after order"><SignedInt Value="@(AfterOrderValue ?? 0)" /></Tooltip>
            </h2>
        </div>
    </Card>
}