@if (StockData != null)
{
    <HoldingCard Title="Stocks" InfoTooltip="@StockInfo" Value="@StockValue" ValueTooltip="Stock value held">
        <div class="row text-md-end">
            <InputWithButtons InputCaption="Order value" PositiveCaption="Buy" NegativeCaption="Sell" @bind-value="@OrderValue" IsPositiveOnly="@(StockValue == 0)" OnInputChanged="HandleValueChange" OnPositionChanged="HandlePositionChange" />
        </div>
        <div class="row text-md-end">
            <h2>
                <Tooltip Text="Stock value after order"><SignedInt DisplayZero="@(StockValue > 0)" IsHidden="@(OrderValue == null || OrderValue == 0)" Value="@(AfterOrderValue ?? 0)" /></Tooltip>
            </h2>
        </div>

        @if (StockValue > 0)
        {
            <ExpandableSection>
                <ul>
                    <li>
                        <Tooltip Text="Units held">Units held: @StockData.UnitsHeld</Tooltip>
                    </li>
                    <li>
                        <Tooltip Text="Stock price">Stock price: @StockData.UnitPrice.Price</Tooltip>
                    </li>
                    @if (OrderValue > 0)
                    {
                        <li>
                            <Tooltip Text="Order quantity">Order quantity to @Direction.ToString().ToLower(): @OrderQuantity</Tooltip>
                        </li>
                    }
                </ul>
            </ExpandableSection>
        }
    </HoldingCard>
}